<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <header th:insert="partials :: head"></header>
    <title>All Files</title>
</head>

<body>
<nav th:replace="partials :: navbar">
</nav>

<div class="container-fluid">

<h1>All S3 Files</h1>
<h6><a href="/files/upload">Upload file to S3</a></h6>
<h6><a href="/files/filestack/upload">Upload file to Filestack</a></h6>
<table class="mt-3 table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th></th>
    </tr>
    </thead>
    <tr th:each="file : ${files}">
        <td>
            <a th:href="@{|${file.cloudUrl}|}" th:text="${file.fileName}"></a>
        </td>
        <td th:text="${file.description}"></td>
        <td th:text="${file.fileType}"></td>

        <td>
            <a th:if="${userName == file.creator.name}" th:href="@{|/files/${file.id}/delete|}">Delete</a>
        </td>

        <!--        <td th:if="${userName != post.creator.name}">-->
<!--        </td>-->
<!--        <td th:if="${userName != post.creator.name}">-->
<!--        </td>-->
    </tr>
</table>

<footer th:replace="partials :: footer">
</footer>

</div>

</body>
</html>
